{% extends "PageBundle:Default:index.html.twig" %}

{% block block_css %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/page/css/sliderCharacter.css") }}">
{% endblock %}
{% block slider_js %}
    {{ parent() }}
    <script src="{{ asset("bundles/page/js/Script/sliderCharacter.js") }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
            <div id="carrousel-character">
                {% for character in characters %}
                    <div class="content-character-slider">
                        <img src="{{ asset(character.media.webPath) }}" alt="image de {{ character.name }}">
                        <div class="content-character">
                            <div class="content">
                                <div id="content-character">{{ character.content }}</div>
                                <div class="line-content"></div>
                            </div>
                            <div id="name-character">{{ character.name }}</div>
                            <div class="line-button">
                                <div class="line"></div>
                                <div class="button">
                                    <div id="content-button">Voir</div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <i class="fa fa-angle-left fa-3x prev" aria-hidden="true"></i>
                <i class="fa fa-angle-right fa-3x next" aria-hidden="true"></i>
            </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {#<script src="{{ asset("bundles/page/js/Script/sliderPost.js") }}" type="text/javascript"></script>#}
{% endblock %}