{% extends "AdminBundle::layout.html.twig" %}

{% block body %}
    <div class="blockBody">
        <div class="blockTitre">
            <div class="titrePage">Races</div>
            <div class="btnForm"><a href="{{ path("admin_races") }}">Ajouter race</a></div>
        </div>
        {% for race in races %}
            <div class="blocKContent">
                <div class="name">{{ race.name }}</div>
                <div class="content">{{ race.content }}</div>
                {% if race.active == 1 %}
                    <div class="enable">Active</div>
                {% else %}
                    <div class="disabled">Désactivé</div>
                {% endif %}
                {{ if race.media }}
                    <div class="img">
                        <div class="btn img">Affichier</div>
                    </div>
                <div class="btnEdit"><a href="{{ path("admin_races_edit", {"idRaces" : race.id}) }}">Modification</a></div>
                <div class="btnDisabled"></div>
                <div class="btnDelete"><a href="{{ path("admin_races_deleted", {"idRaces" : race.id}) }}">Supprimer</a></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
