{% extends "AdminBundle::layout.html.twig" %}

{% block body %}
    <div class="blockBody">
        {#<div class="blockTitre">#}
            {#<div class="titrePage">Races</div>#}
            {#<div class="btnForm"><a href="{{ path("admin_races") }}">Ajouter race</a></div>#}
        {#</div>#}
        <div class="btnForm">
            <button class="ui button btnAddPost">Ajouter une race</button>
            <button class="ui button btnDeletePost">Annuler</button>
        </div>
        <div class="formHidden">
            {#{% render "AdminBundle:Post:form.html.twig" only %}#}
            {{ render(controller("AdminBundle:Races:add", {request: app.request})) }}
            {#{% include "AdminBundle:Post:test.html.twig" %}#}
        </div>
        {% for race in races %}
            <div class="blocKContent ui padded segment">
                <div class="contenuIcon">
                    <div class="btnEdit">
                        <a href="{{ path("admin_races_edit", {"idRaces" : race.id}) }}" title="Editer un article">
                            <i class="huge black configure icon"></i>
                        </a>
                    </div>
                    <div class="btnEnableDisabled">
                        {% if race.active == 0 %}
                            <a href="{{ path("admin_enable_races", {"idRaces" : race.id}) }}" title="Activer un article">
                                <i class="huge black add circle icon"></i>
                            </a>
                        {% else %}
                            <a href="{{ path("admin_disabled_races", {"idRaces" : race.id}) }}" title="Désactiver un article">
                                <i class="huge black minus circle icon"></i>
                            </a>
                        {% endif %}
                    </div>
                    <div class="btnDelete">
                        <a href="{{ path("admin_races_deleted", {"idRaces" : race.id}) }}" title="Supprimer un article">
                            <i class="huge black remove icon"></i>
                        </a>
                    </div>
                </div>
                <div class="contenuEcrit">
                    <div class="name">{{ race.name }}</div>
                    <div class="content">{{ race.content }}</div>
                    {% if race.active == 1 %}
                        <div class="enable">Active</div>
                    {% else %}
                        <div class="disabled">Désactivé</div>
                    {% endif %}
                    {% if race.media is not null %}
                        <div class="img">
                            <img src="{{ asset(race.media.webPath) }}" alt="image de {{ race.name }}">
                        </div>
                    {% endif %}
                    <div class="btnEdit"><a href="{{ path("admin_races_edit", {"idRaces" : race.id}) }}">Modification</a></div>
                    <div class="btnDisabled"></div>
                    <div class="btnDelete"><a href="{{ path("admin_races_deleted", {"idRaces" : race.id}) }}">Supprimer</a></div>
                </div>
                </div>
        {% endfor %}
    </div>
{% endblock %}
