    {{ form_start(form, {"attr":
        {
            "class" : "ui form",
            "novalidate" : "novalidate",
        }
    })
    }}
    <div class="ui padded attached segment form">
        <div class="three fields">
            <div class="field">
                {{ form_label(form[key_title]) }}
                {{ form_widget(form[key_title]) }}
                {{ form_errors(form[key_title]) }}
            </div>
            <div class="field">
                {{ form_label(form[key_active]) }}
                {{ form_widget(form[key_active]) }}
                {{ form_errors(form[key_active]) }}
            </div>
            <div class="field">
                {{ form_label(form[key_content]) }}
                {{ form_widget(form[key_content]) }}
                {{ form_errors(form[key_content]) }}
            </div>
            <div class="field">
                {{ form_label(form[key_files]) }}
                {{ form_widget(form[key_files]) }}
                {{ form_errors(form[key_files]) }}
            </div>
        </div>
    </div>
    <div class="fields aes-btn-bottom">
        <div class="eight wide field">
            <button class="ui submit massive button center aligned positive fluid"
                    id="form_validate">
                Valider
            </button>
        </div>
    </div>
    {{ form_end(form) }}