{% extends "AdminBundle::layout.html.twig" %}

{% block body %}
    <div class="blockBody">
        <div class="blockTitre">
            <div class="titrePage">Articles</div>
            <div class="btnForm"><a href="{{ path("new_post") }}">Ajouter un article</a></div>
        </div>
        {% for post in posts %}
            <div class="blockContent ui padded segment">
                <div class="btnEdit">
                    <a href="{{ path("admin_post_edit", {"idPost" : post.id}) }}">
                        <i class="configure icon"></i>
                    </a>
                </div>
                <div class="btnDisabled"><a href="#"></a></div>
                <div class="btnDelete">
                    <a href="{{ path("admin_post_deleted", {"idPost" : post.id}) }}">
                        <i class="remove icon"></i>
                    </a>
                </div>
                <div class="title">{{ post.title }}</div>
                <div class="Content">{{ post.content }}</div>
                {% if post.active == 1 %}
                    <div class="enable">Active</div>
                {% else %}
                    <div class="disabled">Désactivé</div>
                {% endif %}
                {% if post.media is not null %}
                    <div class="img">
                        <img src="{{ asset(post.media.webPath) }}" alt="image de {{ post.title }}">
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}