{% extends "AdminBundle::layout.html.twig" %}

{% block body %}
    <div class="blockBody">
            <div class="btnForm">
                <button class="ui button btnAddPost">Ajouter un article</button>
                <button class="ui button btnDeletePost">Annuler</button>
            </div>
            <div class="formHidden">
                {% include("AdminBundle:Post:form.html.twig") %}
            </div>
        {% for post in posts %}
            <div class="blockContent ui padded segment">
                <div class="contenuIcon">
                    <div class="btnEdit">
                        <a href="{{ path("admin_post_edit", {"idPost" : post.id}) }}" title="Editer un article">
                            <i class="huge black configure icon"></i>
                        </a>
                    </div>
                    <div class="btnEnableDisabled">
                        {% if post.active == 0 %}
                            <a href="{{ path("admin_enable_post", {"idPost" : post.id}) }}" title="Activer un article">
                                <i class="huge black add circle icon"></i>
                            </a>
                        {% else %}
                            <a href="{{ path("admin_disabled_post", {"idPost" : post.id}) }}" title="Désactiver un article">
                                <i class="huge black minus circle icon"></i>
                            </a>
                        {% endif %}
                    </div>
                    <div class="btnDelete">
                        <a href="{{ path("admin_post_deleted", {"idPost" : post.id}) }}" title="Supprimer un article">
                            <i class="huge black remove icon"></i>
                        </a>
                    </div>
                </div>
                <div class="contenuEcrit">
                    <div class="title">{{ post.title }}</div>
                    <div class="Content">{{ post.content }}</div>
                    <div class="dateTime">{{ post.date|date("d/m/Y H:i:s" ) }}</div>
                    {% if post.active == 1 %}
                        <div class="enable">Active</div>
                    {% else %}
                        <div class="disabled">Désactivé</div>
                    {% endif %}
                    {% if post.media is not null %}
                        <div class="img">
                            <img src="{{ asset(post.media.webPath) }}" alt="image de {{ post.title }}">
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}