{% extends "AdminBundle::layout.html.twig" %}

{% block body %}
    <div class="blockTitre">
        <div class="titrePage">Personnages</div>
        <div class="btnForm"><a href="{{ path("show_characters") }}">Liste des personnages</a></div>
    </div>
    {{ form_start(form, {"attr":
        {
            "class" : "ui form",
            "novalidate" : "novalidate",
        }
    })
    }}
    <div class="field">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
    <div>
        <button>Ajouter un personnage</button>
    </div>
    {{ form_end(form) }}
{% endblock %}