{% extends "AdminBundle::layout.html.twig" %}

{% block body %}
    <div class="blockBody">
        <div class="blockTitre">
            <div class="titrePage">Personnages</div>
            <div class="btnForm"><a href="{{ path("admin_characters") }}">Ajouter personnage</a></div>
        </div>
        {% for character in characters %}
            <div class="blockContent ui padded segment">
                <div class="btnEdit">
                    <a href="{{ path("admin_characters_edit", {"idCharacters" : character.id}) }}">
                        <i class="configure icon"></i>
                    </a>
                </div>
                <div class="btnDisabled"><a href="#"></a></div>
                <div class="btnDelete">
                    <a href="{{ path("admin_characters_deleted", {"idCharacters" : character.id}) }}">
                        <i class="remove icon"></i>
                    </a>
                </div>
                <div class="title">{{ character.name }}</div>
                <div class="Content">{{ character.content }}</div>
                {% if character.active == 1 %}
                    <div class="enable">Active</div>
                {% else %}
                    <div class="disabled">Désactivé</div>
                {% endif %}
                {% if character.media is not null %}
                    <div class="img">
                        <img src="{{ asset(character.media.webPath) }}" alt="image de {{ character.name }}">
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
