{% extends "AdminBundle::layout.html.twig" %}

{% block body %}
    <div class="blockBody">
        <div class="blockTitre">
            {#<div class="titrePage">Personnages</div>#}
            <div class="btnForm"><a href="{{ path("admin_characters") }}">Ajouter personnage</a></div>
        </div>
        {% for character in characters %}
            <div class="blockContent ui padded segment">
                <div class="contenuIcon">
                    <div class="btnEdit">
                        <a href="{{ path("admin_characters_edit", {"idCharacters" : character.id}) }}" title="Editer un article">
                            <i class="huge black configure icon"></i>
                        </a>
                    </div>
                    <div class="btnEnableDisabled">
                        {% if character.active == 0 %}
                            <a href="{{ path("admin_enable_characters", {"idCharacter" : character.id}) }}" title="Activer un article">
                                <i class="huge black add circle icon"></i>
                            </a>
                        {% else %}
                            <a href="{{ path("admin_disabled_characters", {"idCharacter" : character.id}) }}" title="Désactiver un article">
                                <i class="huge black minus circle icon"></i>
                            </a>
                        {% endif %}
                    </div>
                    <div class="btnDelete">
                        <a href="{{ path("admin_characters_deleted", {"idCharacters" : character.id}) }}" title="Supprimer un article">
                            <i class="huge black remove icon"></i>
                        </a>
                    </div>
                </div>
                <div class="contenuEcrit">
                    <div class="title">{{ character.name }}</div>
                    <div class="Content">{{ character.content }}</div>
                    {% if character.active == 1 %}
                        <div class="enable">Active</div>
                    {% else %}
                        <div class="disabled">Désactivé</div>
                    {% endif %}
                    {% if character.media is not null %}
                        <div class="img">
                            <img src="{{ asset(character.media.webPath) }}" alt="image de {{ character.name }}">
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
